---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import ContenedorSecciones from "../components/ContenedorSecciones.astro";
import LinkedInIcon from "../Icons/LinkedIn.astro";
import IconFile from "../components/IconFile.astro";
import GitHub from "../Icons/GitHub.astro";
import GmailIcon from "../Icons/Gmail.astro";
import Experiencia from "../components/Experiencia.astro";
import IconoExperiencia from "../Icons/IconoExperiencia.astro";
import IconoProyectos from "../components/IconoProyectos.astro";
import Proyectos from "../components/Proyectos.astro";
import IconoSobreMi from "../Icons/IconoSobreMi.astro";
import IconoHabilidades from "../Icons/IconoHabilidades.astro";
import SobreMi from "../components/SobreMi.astro";
import DescargarCV from "../Icons/Descargar-CV..astro";
import HTML from "../Icons/HTML.astro";
import CSS from "../Icons/CSS.astro";
import JavaScript from "../Icons/JavaScript.astro";
import PHP from "../Icons/PHP.astro";
import TypeScript from "../Icons/Typescript.astro";
import NodeJS from "../Icons/NodeJS.astro";
import ExpressJS from "../Icons/ExpressJS.astro";
import PostgreSQL from "../Icons/PostgreSQL.astro";
import Bootstrap from "../Icons/Bootstrap.astro";
import Tailwind from "../Icons/Tailwind.astro";
import React from "../Icons/React.astro";
import Electron from "../Icons/Electron.astro";
import Vite from "../Icons/Vite.astro";
import IconoAstro from "../Icons/IconoAstro.astro";
import MySQL from "../Icons/MySQL.astro";
import Git from "../Icons/Git.astro";
import NPM from "../Icons/NPM.astro";
import Markdown from "../Icons/Markdown.astro";
import VSCode from "../Icons/VSCode.astro";
import SublimeText from "../Icons/SublimeText.astro";
import Netlify from "../Icons/Netlify.astro";
import Vercel from "../Icons/Vercel.astro";
import Contacto from "../components/Contacto.astro";
import ContactoIcon from "../Icons/ContactoIcon.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title="Portafolio de Santiago - Desarrollador y programador Web Full Stack con 6 meses de experiencia"
  description="Si buscas a alguien comprometido, creativo y con pasión por la tecnología, ¡soy la persona indicada para impulsar tus proyectos! Mi enfoque está en entregar soluciones eficientes y modernas que realmente aporten valor a tu negocio. ¡Trabajemos juntos!"
>
  <>
    <ContenedorSecciones>
      <img
        src="/foto-animada.webp"
        alt="Foto perfil"
        class="flex size-20 object-cover rounded-full mb-4"
      />
      <h1
        class="pt-4 mx-0 text-[#93C5FD] text-2xl md:text-4xl lg:text-5xl font-bold flex lg:flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hola, soy Santiago
        <span
          class="text-end ml-0 small-4 flex items-center -mt-2 md:mt-0 lg:mt-0 gap-2 flex-col sm:flex-row"
        >
          <a
            href="/public/HOJA DE VIDA - Daniel Santiago Rosero Cajamarca.pdf"
            download
            class="flex justify-center items-center hover:scale-105 transition"
          >
            <Badge>
              <DescargarCV class="size-4" />
              Descargar CV
            </Badge>
          </a>

          <a
            href="https://www.linkedin.com/in/daniel-santiago-rosero-4420a91b0/"
            target="_blank"
            rel="noopener"
            class="flex justify-center items-center hover:scale-105 transition"
          >
            <Badge>
              <IconoExperiencia class="size-4" />
              Disponible para trabajo
            </Badge>
          </a>
        </span>
      </h1>
      <h2 class="text-xl pt-2 lg:text-2xl text-pretty max-w-[700px]">
        +6 meses de experiencia laboral. Desarrollador Web Full Stack. De
        Colombia. Especializado en crear paginas web unicas y escalables y
        sistematizar procesos. Me encanta aprender y enfrentar nuevos desafíos.
      </h2>

      <nav
  class="grid gap-3 justify-items-center mt-8 sm:grid-cols-1 sm:justify-items-center md:grid-cols-1 md:flex md:justify-center md:gap-4 xs:grid-cols-1 xs:justify-items-center"
>
<IconFile
    href="mailto:santiagocajamarca.37@gmail.com"
    class="w-fit flex items-center gap-1 px-2 py-0.5 rounded-full border border-white/30 transition-transform duration-200 ease-in-out hover:scale-105 hover:drop-shadow-[0_0_6px_rgba(192,132,252,0.9)] order-1 sm:order-3 xs:order-3"
  >
    <GmailIcon class="size-4 md:size-5" />
    Gmail
  </IconFile>

  <IconFile
    href="https://github.com/Xanty10RR"
    class="w-fit flex items-center gap-1 px-2 py-0.5 rounded-full border border-white/30 transition-transform duration-200 ease-in-out hover:scale-105 hover:drop-shadow-[0_0_6px_rgba(192,132,252,0.9)] order-2 sm:order-2 xs:order-2"
  >
    <GitHub class="size-4 md:size-5" />
    GitHub
  </IconFile>

  <IconFile
    href="https://www.linkedin.com/in/daniel-santiago-rosero-4420a91b0/"
    class="w-fit flex items-center gap-1 px-2 py-0.5 rounded-full border border-white/30 transition-transform duration-200 ease-in-out hover:scale-105 hover:drop-shadow-[0_0_6px_rgba(192,132,252,0.9)] order-3 sm:order-1 xs:order-1"
  >
    <LinkedInIcon class="size-4 md:size-5" />
    LinkedIn
  </IconFile>
</nav>

    </ContenedorSecciones>

    <ContenedorSecciones id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <IconoExperiencia class="size-7" />
        Experiencia Laboral
      </h2>
      <Experiencia />
    </ContenedorSecciones>

    <ContenedorSecciones id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <IconoProyectos class="size-7" />
        Proyectos
      </h2>
      <Proyectos />
    </ContenedorSecciones>

    <ContenedorSecciones class="w-full" id="habilidades">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <IconoHabilidades class="size-7" />
        Habilidades
      </h2>
      <div
        class="carousel overflow-hidden whitespace-nowrap flex items-center relative"
      >
        <div class="imagenes">
          <HTML />
          <CSS />
          <JavaScript />
          <TypeScript />
          <Tailwind />
          <Bootstrap />
          <React />
          <Electron />
          <IconoAstro />
          <Vite />
          <PHP />
          <PostgreSQL />
          <MySQL />
          <NodeJS />
          <ExpressJS />
          <Git />
          <GitHub />
          <NPM />
          <Markdown />
          <VSCode />
          <SublimeText />
          <Netlify />
          <Vercel />
          <!-- Grupo de iconos duplicado para el efecto infinito -->
          <HTML />
          <CSS />
          <JavaScript />
          <TypeScript />
          <Tailwind />
          <Bootstrap />
          <React />
          <Electron />
          <IconoAstro />
          <Vite />
          <PHP />
          <PostgreSQL />
          <MySQL />
          <NodeJS />
          <ExpressJS />
          <Git />
          <GitHub />
          <NPM />
          <Markdown />
          <VSCode />
          <SublimeText />
          <Netlify />
          <Vercel />
        </div>
      </div>
    </ContenedorSecciones>

    <ContenedorSecciones id="sobre-mi">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <IconoSobreMi class="size 7" />
        Sobre mí
      </h2>
      <SobreMi />
    </ContenedorSecciones>

    <ContenedorSecciones id="contacto">
      <h2 class="pb-9 text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <ContactoIcon class="size-7" />
        Contáctame
      </h2>
      <Contacto />
    </ContenedorSecciones>
  </>
</Layout>
