---
interface Props {
  fecha: string;
  cargo: string;
  titulo: string;
  descripcion: string;
}

const { fecha, cargo, titulo, descripcion } = Astro.props;
---

<div
  class="absolute w-3 h-3 bg-[#93C5FD] rounded-full mt-1.5 -start-1.5 border border-white shadow-[0_0_6px_rgba(147,197,253)]"
>
</div>
<time class="inline-block px-3 py-1 mb-3 text-xs font-medium rounded-full text-gray-400 shadow-[0_0_5px_rgba(147,197,253)] light:text-blue-400 italic"
  >{fecha}</time
>
<h3 class="text-xl font-bold text-blue-400 uppercase mb-1 tracking-wide">
  {cargo}
</h3>
<h4 class="text-md font-semibold text-blue-300 mb-2 italic">
  {titulo}
</h4>
<p class="text-base text-white mb-4">
  {descripcion.split('\n').map((paragraph => (
    <p class="text-pretty mb-3 text-lg">{paragraph}</p>
  )))}
</p>
