<a
  {...Astro.props}
  class="justify-center rounded-full border border-white/20 hover:border-black flex items-center gap-x-1 py-0.5 px-3 text-sm lg:text-base bg-white/5 transition hover:scale-110 hover:bg-white/10 hover:drop-shadow-[0_0_2px_rgba(147,197,253)]"
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
