<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center gap-y-15 pt-7">
  <div class="mb-4 text-lg text-pretty order-2 px-2 md:px-0">
    <p class="mb-4">
      Mi nombre es Daniel Santiago Rosero, siempre me preguntaba y me daba mucha
      curiosidad sobre el <strong class="text-[#93C5FD]"
        >funcionamiento y como se hacían las páginas web y las aplicaciones que
        usaba a diario</strong
      > y me daba cuenta que la tecnología es un mundo gigantezco que queria explorar,
      por lo que a decidí estudiar
      <strong class="text-[#93C5FD]"
        >Programación de Software y me <em class="italic"
          >especializo en el desarrollo web full stack y en la 
          sistematización de procesos.</em
        >
      </strong
      >
    </p>
    <p class="mb-4">
      Desde entonces, he estado aprendiendo y creciendo en este campo y ahora
      tengo más de 6 meses de experiencia laboral.
    </p>
    <p>
      Uno de mis <strong class="text-[#93C5FD]"
        >proyectos más destacados es un <em class="italic"
          >Chatbot de Whatsapp</em
        > el cual me encantó realizar
      </strong
      >y me permitió aplicar mis habilidades pero sobre todo aprender y
      saber lo que algún dia me daba curiosidad.
    </p>
  </div>
  <img class="rounded-full size-60 order-1" src="/mi-foto.webp" alt="Mi foto">
</section>
