<section
  class="flex flex-col items-center justify-center gap-x-8 gap-y-10 pt-7 md:flex-row"
>
  <div class="order-2 mb-4 px-2 text-lg text-pretty md:order-1 md:px-0">
    <p class="mb-4">
      Mi nombre es <strong class="text-[#93C5FD]">Daniel Santiago Rosero</strong
      >. Siempre me preguntaba y me daba mucha curiosidad sobre el <strong
        class="text-[#93C5FD]">funcionamiento</strong
      > de las <strong class="text-[#93C5FD]">páginas web</strong> y <strong
        class="text-[#93C5FD]">aplicaciones</strong
      > que usaba a diario. Al darme cuenta de que la tecnología era un mundo gigantesco
      que quería explorar, decidí estudiar <strong class="text-[#93C5FD]"
        >Programación de Software</strong
      >.
    </p>
    <p class="mb-4">
      Actualmente, me <em class="italic text-[#93C5FD] font-semibold"
        >especializo en el Desarrollo Web Full Stack</em
      > y en la <strong class="text-[#93C5FD]">sistematización</strong> de procesos.
      Desde que comencé en este mundo, he estado aprendiendo y creciendo en este
      campo, y ahora cuento con más de 6 meses de experiencia laboral.
    </p>
    <p>
      Uno de mis proyectos más <strong class="text-[#93C5FD]">destacados</strong
      > es un <strong class="italic text-[#93C5FD]">Chatbot de WhatsApp</strong
      >, el cual me encantó realizar, ya que me permitió aplicar mis habilidades
      pero sobre todo aprender y satisfacer esa curiosidad que desde el
      principio me impulsó a empezar.
    </p>
  </div>
  <img
    class="order-1 size-60 rounded-full md:order-2"
    src="/mi-foto.webp"
    alt="Foto de Daniel Santiago Rosero"
  />
</section>
